<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/main.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

    <title>Portfolio</title>
  </head>
  <body>
    <div class="frame">
      <div class="main_frame">
        <div class="left_frame">
          <div class="profile"></div>
          <div class="marginer"></div>
          <div class="about"></div>
          <div class="marginer"></div>
          <div class="languages"></div>
          <div class="marginer"></div>
          <div class="skills"></div>
          <div class="marginer"></div>
          <div class="extra_skills"></div>
          <div class="marginer"></div>
        </div>
        <div class="midd_frame"></div>
        <div class="right_frame"></div>
      </div>
    </div>
  </body>
</html>
